/*Starting responsive css*/

@media screen and (max-width: 1000px){

.col-md-6.home-we-connect {

display: inline-block;

width: 50%;

}

.pool-title {
  min-width:136px;
}

.pool-tag {
  width: 26.6%;
}
.col-md-6.home-social-connect {

padding-right: 14%;

}

.talent-info {
width: 70%;
min-width: 520px;
}

.sorting-buttons-wrapper > a, .sorting-buttons-wrapper > a:visited, .sorting-buttons-wrapper > a:active {
  min-height: 55px;
}

}


@media screen and (max-width: 765px){
.dashboard-pane {
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 12px;
  display: inline-block;
  width: 100%;
}

.col-sm-6.dashboard-pane.no-padding {
  padding: 0;
}

.red-pane-title {
  min-height: 40px;
}

.pool-tag {
  width: 24.6%;
}

.col-sm-9.dashboard-headline, .col-sm-3.talent-btn-wrapper {

  text-align:center;

}

.profile-notification-wrapper {
margin-bottom: 25px;
}


.talent-info {
width: 100%;
min-width: 100%;
}

.talent-buttons {
display: inline-block;
float: left;
width: 100%;
min-width: 175px;
text-align: center;
padding-top: 0;
padding-bottom: 10px;
}

}














@media screen and (max-width: 780px){

.rec-management .item-tag {
  display: none!important;
}

.rec-management .item-title {
  width: 55%!important;
}

.rec-management .item-employer {
  width: 45%!important;
}


.col-md-6.home-we-connect {

width: 100%;

height: auto;

}

.logo-wrapper, .hero-text-wrapper {

margin: 0;

margin: 10px auto;

text-align: Center;

max-width: 100%;

padding: 0;

}



.col-md-6.home-social-connect {

display: inline-block;

position: relative;

width: 100%;

margin-top: 15px;

}



.home-wrapper {

display: inline-block;

width: 100%;

position: relative;

top: 0;

bottom: 0;

}



.menu-home-footer-container {

display: inline-block;

position: relative;

width: 100%;

float: left;

}



.col-md-6.home-social-connect {

padding: 10px!important;

margin: 0;

margin-top: 10px;

position: relative;

}



.userpro-social-big {

width: 100%;

max-width: 290px;

text-align: center;

margin: auto!important;

}



.home-menu {

display: inline-block;

width: 100%;

position: relative;

border-top: 1px solid #F2F2F2;

text-align: center;

margin-top: 15px;

}

  }



@media screen and (max-width: 650px){

.pool-tag {
  width: 21.9%;
}

.col-30 {

width: 100%;

}

.sorting-buttons-wrapper > a, .sorting-buttons-wrapper > a:visited, .sorting-buttons-wrapper > a:active {
  min-height: 72px;
}

}


@media screen and (max-width: 550px) {

.pool-tag {
  width: 21.6%;
}
.q-step-form {
width: 100%;
}
.q-step-instructions {
width: 100%;
border-left: none;
padding: 20px;
padding-right: 10px;
}

.sr-button-wrapper {
display: inline-block;
float: right;
width: 100%;
}

.sr-title-wrapper {
width: 100%;
}

}



@media screen and (max-height: 450px){

.menu-home-footer-container {

  display:none;

}
}

@media screen and (max-width: 450px){

  .p-line > .pool-title {
  padding-left: 28px;
  text-align: left;
}

.pool-title {
  min-width: 110px;
  width:50%;
}

.pool-tag.pool-tag-two, 
.pool-tag.pool-tag-three {
  display: none!important;
}
.pool-tag.pool-tag-one {
  width:50%;
}

.search-bottom > .preloader {
     display: none;
     float:left;
     width:100%;
     text-align:center;
      margin-right: 20px;
}
.sorting-buttons-wrapper > a, .sorting-buttons-wrapper > a:visited, .sorting-buttons-wrapper > a:active {
  min-height: 32px;
    border-bottom: 1px solid #3185C3;
    width:100%;
}
}


@media screen and (max-width: 380px){



  .logged-in-menu {

display: inline-block;

float: right;

height: 50px;

line-height: 50px;

font-weight: 600;

border-left: 1px solid #EFEFEF;

border-right: 1px solid #EFEFEF;

padding: 0 10px;

width: 100%;

text-align: center;

margin-top: 10px;

border-top: 1px solid #EFEFEF;

}

.row.content-wrapper {

display: inline-block;

width: 100%;

float: left;

padding-top: 125px;

padding-bottom: 35px;

}

.footer-left-menu-wrapper, .footer-right-menu-wrapper, ul#menu-footer-left, ul#menu-footer-right {

width: 100%;

text-align: center;

float:none;

}



.sign-in-sign-up a {

display: inline-block;

float: left;

font-size: 15px;

color: #fff;

background: #1676be;

text-decoration: none;

padding: 14px 11px;

}

.general-page-header .page-title {
  float: left;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
}

.general-page-header .btn-back-to-dashboard {
  float: none;
}


}

