/*

Theme Name: Matchly

Theme URI: http://matchly.org/

Author: Nick Surmanidze

Author URI: http://everycode.net

Description: Matchly Theme

Version: 1.0-wpcom

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

Text Domain: matchly

Tags:



*/



/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {

  font-family: sans-serif;

  -webkit-text-size-adjust: 100%;

      -ms-text-size-adjust: 100%;

}

body {

  margin: 0;

  font-family: 'Open Sans', sans-serif;

}



body.modal-open { overflow:inherit; padding-right:inherit !important; }





article,

aside,

details,

figcaption,

figure,

footer,

header,

hgroup,

main,

menu,

nav,

section,

summary {

  display: block;

}

audio,

canvas,

progress,

video {

  display: inline-block;

  vertical-align: baseline;

}

audio:not([controls]) {

  display: none;

  height: 0;

}

[hidden],

template {

  display: none;

}

a {

  background-color: transparent;

  color: #08c;

}

a:active,

a:hover {

  outline: 0;

}

abbr[title] {

  border-bottom: 1px dotted;

}

b,

strong {

  font-weight: bold;

}

dfn {

  font-style: italic;

}

h1 {

  margin: .67em 0;

  font-size: 2em;

}

mark {

  color: #000;

  background: #ff0;

}

small {

  font-size: 80%;

}

sub,

sup {

  position: relative;

  font-size: 75%;

  line-height: 0;

  vertical-align: baseline;

}

sup {

  top: -.5em;

}

sub {

  bottom: -.25em;

}

img {

  border: 0;

}

svg:not(:root) {

  overflow: hidden;

}

figure {

  margin: 1em 40px;

}

hr {

  height: 0;

  -webkit-box-sizing: content-box;

     -moz-box-sizing: content-box;

          box-sizing: content-box;

}

pre {

  overflow: auto;

}

code,

kbd,

pre,

samp {

  font-family: monospace, monospace;

  font-size: 1em;

}

button,

input,

optgroup,

select,

textarea {

  margin: 0;

  font: inherit;

  color: inherit;

}

button {

  overflow: visible;

}

button,

select {

  text-transform: none;

}

button,

html input[type="button"],

input[type="reset"],

input[type="submit"] {

  -webkit-appearance: button;

  cursor: pointer;

}

button[disabled],

html input[disabled] {

  cursor: default;

}

button::-moz-focus-inner,

input::-moz-focus-inner {

  padding: 0;

  border: 0;

}

input {

  line-height: normal;

}

input[type="checkbox"],

input[type="radio"] {

  -webkit-box-sizing: border-box;

     -moz-box-sizing: border-box;

          box-sizing: border-box;

  padding: 0;

}

input[type="number"]::-webkit-inner-spin-button,

input[type="number"]::-webkit-outer-spin-button {

  height: auto;

}

input[type="search"] {

  -webkit-box-sizing: content-box;

     -moz-box-sizing: content-box;

          box-sizing: content-box;

  -webkit-appearance: textfield;

}

input[type="search"]::-webkit-search-cancel-button,

input[type="search"]::-webkit-search-decoration {

  -webkit-appearance: none;

}

fieldset {

  padding: .35em .625em .75em;

  margin: 0 2px;

  border: 1px solid #c0c0c0;

}

legend {

  padding: 0;

  border: 0;

}

textarea {

  overflow: auto;

}

optgroup {

  font-weight: bold;

}

table {

  border-spacing: 0;

  border-collapse: collapse;

}

td,

th {

  padding: 0;

}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */



/*Helpers*/



.container-fluid {

max-width: 980px;

}



.row {

margin-right: 0!important;

margin-left: 0!important;

}



.val-message {

display: none;

width: 100%;

text-align: right;

padding: 3px 20px;

color: #ED6E6E;

font-size: 12px;

}



.val-message.activated {

display: inline-block;

}



.chosen-container-single .chosen-default, .chosen-container .chosen-single {

color: #888 !important;

display: block;

width: 100%;

height: 34px;

padding: 6px 12px;

font-size: 14px;

line-height: 1.42857143;

color: #555;

background-color: #fff;

background-image: none;

border: 1px solid #ccc;

border-radius: 4px;

-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

background: #fff!important;

}



.chosen-container-single .chosen-default:focus, .chosen-container-single:focus{

border-color: #66afe9;

outline: 0;

-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);

box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);

}





ul.chosen-choices {

display: block;

width: 100%;

height: 34px;

padding: 6px 12px;

font-size: 14px;

line-height: 1.42857143;

color: #555;

background-color: #fff;

background-image: none;

border: 1px solid #ccc;

border-radius: 4px;

-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

min-height: 31px;

line-height: 31px;

}



.chosen-container-multi .chosen-choices li.search-choice {

position: relative;

margin: 3px 0 3px 5px;

padding: 3px 20px 3px 5px;

border: 1px solid #aaa;

background-clip: padding-box;

color: #333;

line-height: 17px;

cursor: default;

border-radius: 4px;

background:#fff;

}



.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {

position: absolute;

top: 6px;

right: 3px;

display: block;

}



#main {

min-height: 88.5vh;

}



button.btn.btn-default a {

text-decoration: none;

color: inherit;

}





/* Styling Home Page*/

.home-main {

  height:100vh;

}

.home-wrapper {

display: inline-block;

width: 100%;

position: fixed;

top: 0;

bottom: 0;

}



.col-md-6.home-social-connect {

display: inline-block;

background: #fff;

position: fixed;

right: 0;

top: 0;

bottom: 0;

height: 100%;

padding-left: 30px;

width: 47%;

padding-right: 20%;

box-sizing: border-box;

float: right;

padding-top: 40px;

}



.col-md-6.home-social-connect p {

color: #8C8C8C;

text-align:center;

}



.home-menu {

display: inline-block;

width: 100%;

position: absolute;

bottom: 0;

left: 0;

right: 0;

border-top: 1px solid #F2F2F2;

}





.logo-wrapper {

display: inline-block;

width: 100%;

margin-left: 30%;

margin-top: 10%;

position: relative;

z-index: 100;

}



.logo-wrapper img {

max-height: 35px;

width: auto;

}



.hero-text-wrapper {

display: inline-block;

width: 100%;

padding-left: 30%;

margin-top: 10%;

position: relative;

z-index: 100;

box-sizing: border-box;

}



.hero-text-wrapper h1 {

width: 100%;

color: rgba(0,0,0,.8);

font-size: 26px;

box-sizing: border-box;

font-weight: 600;

margin: 0 0 10px 0;

}



.hero-text-wrapper p {

font-size: 17px;

color: rgba(0,0,0,.7);

line-height: 20px;

}



.menu-home-footer-container  {

display: inline-block;

width: 100%;

box-sizing: border-box;

padding: 15px;

}



#menu-home-footer {

margin: 0;

padding: 0;

list-style: none;

display: inline-block;

float: left;

}



#menu-home-footer li {

display: inline-block;

float: left;

margin: 10px;

}



#menu-home-footer li a {

color: #8b959e;

}





/*Customization of log in buttons on home page*/

.userpro-social-big {
max-width: 100%;
margin: 20px 0!important;
margin-top: 0!important;
}

div.userpro-social-big a.userpro-social-facebook, div.userpro-social-big a.userpro-social-twitter{

background: #FFFFFF;

color: #A8A8A8!important;

border-bottom: none;

border: 1px solid #EAEAEA;

margin-bottom: 15px!important;

cursor: pointer;

}



div.userpro-social-big a.userpro-social-facebook:hover, div.userpro-social-big a.userpro-social-twitter:hover {

border: 1px solid #EAEAEA;

border: 1px solid #ccc;

background: rgba(253, 253, 253, 0.61);

}



/*Header Styling*/





header#masthead {

display: inline-block;

width: 100%;

background: rgba(255, 255, 255, 0.95);

border-bottom: 1px solid #F2F2F2;

position: fixed;

top: 0;

z-index: 9999;

}



.logged-in-menu {

display: inline-block;

float: right;

height: 50px;

line-height: 50px;

font-weight: 600;

border-left: 1px solid #EFEFEF;

border-right: 1px solid #EFEFEF;

padding: 0 10px;

position:relative;

}





ul.li-menu-container {

display: none;

position: absolute;

background: #ccc;

list-style: none;

margin: 0;

padding: 0;

max-width: 200px;

margin-left: -53px;

border: 1px solid #ECEAEA;

top: 50px;
right: -1px;

  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);

}



.logged-in-menu:hover > .li-menu-container {

  display:block;

}



.logged-in-menu i {

margin-left: 10px;

}



.li-menu-container li {

display: inline-block;

float: left;

width: 100%;

background: #FFFFFF;

border-bottom: 1px solid #EFEFEF;

padding: 0px 10px;

line-height: 32px;

text-align:left;

}



ul.li-menu-container a {

color: #777;

font-weight: 500;

text-decoration: none;

}



ul.li-menu-container a i {

margin-right: 15px;

width: 15px;

text-align: center;

color: #8B8094;



}



.li-menu-container li:hover {

background: #F5F5F5;

}



.li-menu-container li:last-child {

border-bottom: none;

}



.sign-in-sign-up {

display: inline-block;

float: right;

}



.sign-in-sign-up a {

display: inline-block;

float: left;

font-size: 15px;

color: #fff;

background: #1676be;

text-decoration: none;

padding: 16px;

}



.sign-in-sign-up a:hover {

background: #115a90;  

}



.sign-in-sign-up a:first-child {

border-right: 1px solid #4F76DA;

}



.site-branding{

display: inline-block;

float: left;

}



nav#site-navigation{

display: inline-block;

float: right;

}

.site-branding a img {

max-height: 40px;

width: auto;

margin-top: 6px;

}



/*Header menu styling*/



nav#site-navigation .menu {

display: inline-block;

float: left;

list-style: none;

margin: 0;

}



nav#site-navigation .menu li {

list-style: none;

display: inline-block;

float: left;

padding: 5px 15px;

border-bottom: 1px solid transparent;

}



nav#site-navigation .menu li a {

color: #888888;

padding: 10px 0;

display: inline-block;

float: left;

font-size: 16px;

text-decoration: none;

}





nav#site-navigation .menu li:hover a {

color: #3C3C3C;

}









#swipeme {

width: auto;

margin-right: 12px;

font-size: 24px;

text-transform: uppercase;

text-align: right;

display: none;

float: right;

margin-top: 7px;

color: #2A2A2A;

}



/*Mobile Menu Styling*/



/*styling mobile menu */



#mobile-menu {

display: none;

position: fixed;

top: 0;

bottom: 0;

right: -320px;

z-index: 0;

opacity: 1;

width: 320px;

background:#2b2b2b;

float: right;

overflow-y: auto!important;

  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */

    transition: width 2s;

}



#page {

position: relative;

z-index: 20;

}



#swipeme {

float: right;

width: auto;

margin-right: 12px;

font-size: 28px;

text-transform: uppercase;

text-align: right;

}



#swipeme:hover {

color: #888888;

}



#swipeme > i {

margin-left: 20px;

}



#fader {

	display:none;

	position:fixed;

	top:0;

	bottom:0;

	left:0;

	right:320px;

	z-index:1000;

  background-image: url('images/fader.png');

}











#nav-main ul { list-style: none; margin: 0; padding :0; text-align: left; }

#nav-main ul a {

  display: block;

  text-decoration: none;        

}

#nav-main ul li { display:inline-block; width: 100%;} 

#nav-main ul li a, #nav-main ul li ul li a {

text-decoration: none;

display: block;

font-size: 11px;

padding: 10px 0px 8px 15px;

color: #D5D5D5;

margin: 0px 0px;

margin-left: 10px;

border-top: 1px #444444 solid;

letter-spacing: 1px;

text-transform: uppercase;

}

 

#nav-main ul li a:hover { background: transparent; }

#nav-main ul li ul li a:hover { background: none; color: #ffffff; }

#nav-main ul li ul { position: relative; top: -2px; }

 

#nav-main ul ul li a {

background: none;

border: none;

padding: 2px 0px 2px 0px;

margin: 0 0 0 18px;

}



#nav-main ul ul li ul { margin: 0 0 0 0px; }

 

ul.sub-menu li.current-menu-item  { color: #0f6cb6 !important; font-weight: bold; }







#nav-main {

display: inline-block;

float: left;

width: 300px;

}



#menu-main-menu {

list-style: none;

margin: 0;

margin-left: 18px;

}





#nav-main ul li ul li a:before {

font-family: FontAwesome;

content: "\f054";

margin-right: 8px;

font-size: 10px;

}





#nav-main ul li ul li > a:only-child:after, #nav-main ul  li > a:only-child:after {

float: right;

font-family: FontAwesome;

content: "\f111";

font-size: 10px;

margin-top: -2px;

color:#747474;

}





#nav-main ul li ul li > a:after, #nav-main ul  li > a:after {

float: right;

font-family: FontAwesome;

content: "\f067";

font-size: 10px;

margin-top: -2px;

}



.selected > a:after {

content: "\f068"!important;

}



.current_page_item a:after {



	color: #fff!important;

}





#mobile-menu-head {

display: inline-block;

float: left;

width: 100%;

background: #222;

height: 60px;

}



.close-button {

display: block;

float: right;

width: 40px;

height: 40px;

background: #222;

color: #ffffff;

margin-right: 5px;

font-weight: bold;

margin-top: 10px;

text-align: center;

line-height: 40px;

cursor: pointer;

}



#menu-label {

display: block;

float: left;

text-align: left;

padding-left: 25px;

width: 240px;

height: 40px;

margin-top: 10px;

line-height: 40px;

text-transform: uppercase;

color: #ffffff;

font-size: 18px;

}



#nav-main ul ul li {

padding-left: 15px;

}





/*Footer Styling*/



footer#colophon {

display: inline-block;

width: 100%;

background: #f2f2f2;

border-top: 1px solid #EAEAEA;

margin-bottom: -5px;

}



.row.footer-menu-wrapper .menu {

display: inline-block;

float: right;

list-style: none;

margin: 0;

padding: 0;

}



.footer-left-menu-wrapper {

display: inline-block;

float: left;

}



.footer-right-menu-wrapper {

display: inline-block;

float: right;

}





.row.footer-menu-wrapper .menu li {

display: inline-block;

float: left;

margin: 10px 0;

border-right: 1px solid #e3e3e3;

}



.row.footer-menu-wrapper .menu li:last-child {

display: inline-block;

float: left;

margin: 10px 0;

border-right: none;

}



.row.footer-menu-wrapper .menu li a {

color: #909090;

font-size: 12px;

padding: 0 10px;

}



.copyright {

display: inline-block;

float: left;

width: 100%;

font-size: 11px;

padding: 10px;

border-top: 1px solid #E8E8E8;

text-align: center;

}



/*Content Area*/



.row.content-wrapper {

display: inline-block;

width: 100%;

float: left;

padding-top: 80px;

padding-bottom: 35px;

}





/*Steps Form Styling*/



.q-form-wrapper {

display: inline-block;

float: left;

width: 100%;

border: 1px solid #EFEFEF;

}



.q-step {

display: inline-block;

float: left;

width: 100%;

}



.q-step-indicator {

display: inline-block;

width: 100%;

float: left;

border-bottom: 1px solid #EFEFEF;

min-height: 40px;

line-height: 32px;

text-align: center;

background: rgba(253, 252, 252, 1);

}



.q-step-title {

display: inline-block;

float: left;

width: 100%;

text-align: center;

font-weight: 600;

font-size: 20px;

line-height: 30px;

padding: 10px;

border-bottom: 1px solid #EFEFEF;

background: #F7F7F7;

}



.q-step-questions-wrapper {

display: inline-block;

float: left;

width: 100%;

padding: 20px 10px;

background: #fff;

}



.q-step-form {

display: inline-block;

float: left;

width: 60%;

padding: 20px;

box-sizing: border-box;

}



.q-step-instructions {

display: inline-block;

float: left;

width:40%;

border-left: 1px dashed #EFEFEF;

padding: 20px;

padding-right: 10px;

}



.q-instructions-inner {

display: inline-block;

float: left;

width: 100%;

background: #F3F5FA;

min-height: 100px;

padding: 15px;

}



.q-instructions-inner span {

display: inline-block;

float: left;

width: 100%;

text-align: center;

margin-bottom: 10px;

font-weight: 600;

text-decoration: underline;

}



.q-step-footer {

display: inline-block;

float: left;

width: 100%;

padding: 10px;

border-top: 1px solid #EFEFEF;

text-align: right;

background: #F7F7F7;

}





ul.stepline {

margin: 0;

padding: 0;

list-style: none;

display: inline-block;

border-bottom: 2px solid #1676be;

}



ul.stepline li {

display: inline-block;

float: left;

width: 30px;

margin: 5px;

background: #FFF;

border: 1px solid #1676be;

height: 30px;

line-height: 28px;

border-radius: 15px;

color: #3335E4;

margin-bottom: -16px;

}



li.cur-step {

background: #1676be!important;

color: #fff!important;

font-weight: 600;

}



ul.stepline li:first-child {

margin-left: 0;

}



ul.stepline li:last-child {

margin-right: 0;

}



.btn-default, .btn-default:focus, .btn-default:active {

background: #1676be;

color: #FFF; 

outline:none;

}



.btn-default:hover {

background: #115a90;

color: #FFF;  

}



.save-and-continue-later-btn {

float: left;

background: #1676be;

color: #FFF;

}



.save-and-continue-later-btn:hover {

background: #115a90;

}



.save-and-continue-later-btn a, .save-and-continue-later-btn a:hover {

color: #FFF;

text-decoration:none;

}





/*Role Picker*/



ul.role-picker {

display: inline-block;

float: left;

margin: 0;

padding: 0;

list-style: none;

}



ul.role-picker li {

display: inline-block;

float: left;

width: 100%;

text-align: center;

}



ul.role-picker li a {

background: #FFFFFF;

color: #A8A8A8!important;

border-bottom: none;

border: 1px solid #EAEAEA;

margin-bottom: 15px!important;

cursor: pointer;

display: inline-block;

width: 60%;

min-width: 180px;

padding: 20px;

text-align: center;

text-decoration: none;

border-radius: 5px;

transition: all 500ms;

}



ul.role-picker li a i {

color: #797979;

margin-right: 16px;

}



ul.role-picker li a:hover {

border-color: #ccc;

color: #909090!important;

}



/*Search form styling*/



.search-form-wrapper {

display: inline-block;

float: left;

width: 100%;

border: 1px solid #EFEFEF;

background: #FFF;

border-radius: 5px;

}



.search-form-wrapper .btn-default {

  background:#fff!important;

  color:#888!important;

}

.search-form-wrapper .btn-info {

background:#1676be!important;

color:#fff!important;

}

.search-form-wrapper .btn-info:hover {

background:#115a90!important;

color:#fff!important;

}



.search-header {

display: inline-block;

float: left;

width: 100%;

padding: 10px;

text-align: center;

border-bottom: 1px solid #F9F9F9;

font-size: 20px;

font-weight: 600;

color: #5E5E5E;

}



.s-cols-wrapper {

display: inline-block;

visibility: hidden;

float: left;

width: 100%;

padding: 0 5px;

}



.col-30 {

display: inline-block;

float: left;

width: 33.3%;

box-sizing: border-box;

padding: 10px;

}



.search-bottom {

display: inline-block;

width: 100%;

border-top: 1px solid #F9F9F9;

padding: 10px;

text-align: right;

}



.s-col-header {

display: inline-block;

width: 100%;

text-align: center;

background: #1676be;

font-size: 14px;

font-weight: 600;

min-height: 60px;

padding: 10px 10px;

border-radius: 4px;

color: #fff;

margin-bottom: 10px;

}



.nopadding {

  padding:0!important;

}



.search-form-wrapper .selected > a:after {

content: ""!important;

display:none;

}



.col-30 .btn-group.bootstrap-select.show-tick {

width: 100%!important;

}



.col-30 .form-group {

margin-bottom: 5px!important;

}



.dropdown-menu.open {

z-index: 9999!important;

}



.col-30 .btn-group > .btn:first-child {

margin-left: 0;

font-size: 12px;

}



.col-30 ul.dropdown-menu.inner.selectpicker span,.col-30 .bootstrap-select.btn-group .dropdown-menu li a  {

font-size: 12px;

}



/*search results page*/



.search-results-wrapper {

display: inline-block;

float: left;

width: 100%;

border: 1px solid #EFEFEF;

background: #FFF;

border-radius: 5px;

padding: 10px;



}



.profile-card-wrapper {

display: inline-block;

float: left;

width: 100%;

background: rgba(238, 240, 255, 0.74);

box-sizing: border-box;

padding: 10px;

margin: 10px 0;

border-radius: 4px;

-webkit-box-shadow: 4px 3px 10px -5px rgba(0,0,0,0.83);

-moz-box-shadow: 4px 3px 10px -5px rgba(0,0,0,0.83);

box-shadow: 4px 3px 10px -5px rgba(0,0,0,0.83);

}



.search-results-title {

display: inline-block;

float: left;

width:100%;

font-size: 24px;

line-height: 34px;

margin-top: 5px;

padding-left: 5px;

text-align: center;

}



.profile-card-wrapper  .separator {

display: inline-block;

width: 100%;

height: 1px;

background: #E7E7E7;

margin: 5px 0;

}



.profile-card-subtitle {

display: inline-block;

width: 100%;

float: left;

font-weight: 600;

font-size: 15px;

margin-left: 14px;

color: #6C6C6C;

}





.profile-card-label {

display: inline-block;

float: left;

width: auto;

font-weight: bold;

margin-left: 5px;

margin-right: 15px;

font-size: 14px;

color: #6C6C6C;

}



.profile-card-value {

display: inline-block;

float: left;

font-style: italic;

}



.brofile-card-item-wrapper.col-30 {

padding: 5px 10px;

}





/*Profile Editor*/





.user-stat-menu {

display: inline-block;

width: 100%;

float: left;

}



.user-stat-menu > div {

display: inline-block;

float: left;

width: 31%;

background: #FCFCFC;

margin-right: 3.4%;

padding: 20px;

border-radius: 5px;

text-align: center;

font-size: 16px;

-webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);

-moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);

box-shadow: 3px 3px 5px -1px rgba(173, 173, 173, 0.75);

border: 1px solid #E8E8E8;

}



.emails-received {

margin-right: 0!important;

}



.users-invited {

display: inline-block;

float: none;

position: relative;

width: 100%;

background: #FCFCFC;

padding: 20px;

border-radius: 5px;

text-align: center;

font-size: 16px;

-webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);

-moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);

box-shadow: 3px 3px 5px -1px rgba(173, 173, 173, 0.75);

border: 1px solid #E8E8E8;

margin-right: 0!important;

margin-top: 25px;

font-size:17px;

}



.users-invited > span {

display: inline-block;

float: left;

width: 100%;

margin-top: 10px;

font-size: 20px;

}



.user-stat-menu > div > span {

display: inline-block;

width: 100%;

font-size: 30px;

margin-top: 10px;

}



.edit-profile-wrapper {

display: inline-block;

float: left;

width: 100%;

margin: 20px 0;

background: #FCFCFC;

border-radius: 5px;

-webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);

-moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);

box-shadow: 3px 3px 5px -1px rgba(173, 173, 173, 0.75);

border: 1px solid #E8E8E8;

}



.e-section-title {

display: inline-block;

float: left;

width: 100%;

border-bottom: 1px solid #ECECEC;

font-weight: 600;

font-size: 22px;

text-transform: uppercase;

line-height: 45px;

margin-bottom: 20px;

background: #F9F9F9;

border-radius: 5px 5px 0 0;

text-align: center;

}



.e-col-50 {

display: inline-block;

float: left;

width: 50%;

padding: 10px;

}



.profile-update-footer {

display: inline-block;

float: left;

width: 100%;

padding: 10px 15px;

text-align: right;

background: #F9F9F9;

border-top: 1px solid #ccc;

}



.had-errors {

display: none;

float: left;

line-height: 34px;

color: #C32727;

}





.modal-dialog {

margin-top: 65px;

}





.mail-function textarea {

display: inline-block;

width: 100%!important;

border-radius: 3px!important;

min-height: 120px;

border: 1px solid #ccc;

padding: 10px;

}



.mail-function label.col-sm-12.control-label {

text-align: left;

padding-bottom: 7px;

}





.charsleft {

    color: #888;

    display: block;

    font-size: 11px;

    padding-top: 4px;

    text-align: right;

}





.share-box-wrapper {

display: inline-block;

width: 100%;

float: left;

margin-top: 20px;

text-align: center;

}



.share-box-wrapper .share-button {

display: inline-block;

width: 100%;

margin: 5px;

padding: 10px 0;

border: 1px solid #E4E4E4;

border-radius: 4px;

color: #646464;

text-decoration: none;

background: #FFF;

font-size: 14px;

}



.share-box-wrapper .share-button:hover {

background: #5F5F5F;

color: #fff;

}



.share-box-wrapper .share-button i {

margin-right:10px;

}





/*Public Profile Styling*/



.public-profile-wrapper {

background: #fff;

padding: 10px;

border-radius: 5px;

}



.public-profile-wrapper h1 {

text-align: center;

margin-bottom: 40px;

}



.profile-section-title {

display: inline-block;

width: 100%;

float: left;

border-bottom: 1px solid #F4F4F4;

padding: 10px 0;

font-weight: 600;

font-size: 18px;

text-align: center;

padding-top: 0;

margin-top: -10px;

}



.profile-content {

display: inline-block;

width: 100%;

float: left;

padding: 10px 0;

}





.profile-item-title {

display: inline-block;

float: left;

width: 130px;

padding-right: 10px;

font-weight: 600;

}



.profile-item-title-full-width {

display: inline-block;

float: left;

padding-right: 10px;

font-weight: 600;

margin-bottom: 10px;

}



.profile-item-value {

max-width: 300px;

}



.profile-item-wrapper {

display: inline-block;

width: 100%;

float: left;

}



.profile-item-value {

display: inline-block;

width: auto;

font-style: italic;

}



.separator {

display: inline-block;

width: 100%;

height: 1px;

background: #F4F4F4;

margin: 15px 0;

}



.report-abuse {

text-align: right;

}



.specialist-skill.profile-item-value {

padding-left: 15px;

}



.sales-pitch .profile-item-wrapper {

margin-bottom: 10px;

padding: 0 15px;

}



.sales-pitch .profile-item-title {

width: 150px;

text-decoration: underline;

margin-bottom: 10px;

}



.sales-pitch .profile-item-value {

max-width: 100%;

width: 100%;

}





/*Pagination*/



.pagelinks {

display: inline-block;

width: 100%;

float: left;

}



span.pageprevdead, a.pageprevlink, span.pagenextdead, a.pagenextlink, a.pagenumlink, span.pagenumon {

display: inline-block;

float: left;

border: 1px solid #ccc;

padding: 3px 10px;

border-radius: 4px;

margin: 3px;

}



/*Search results*/

.talentid {

display: inline-block;

float: left;

font-size: 21px;

line-height: 30px;

margin-top: 5px;

padding-left: 5px;

}



.view-btn {

display: inline-block;

float: right;

padding-top: 1px;

}



.talentid i {

color: #1676be;

text-shadow:none;

}





/*Update ad publish*/



.profile-notification-wrapper {

display: inline-block;

float: left;

width: 100%;

text-align: right;

}



.profile-notification-wrapper p {

padding: 16px;

text-align: center;

border-radius: 4px;

}







.page-content-wrapper {

  display: inline-block;

width: 100%;

background: #fff;

padding: 20px 20px;

border-radius: 5px;

}



h1.error404 {

text-align: center;

font-weight: 600;

color: #9E9C9C;

}



a.find-out-more.btn-default.btn {

border: 1px solid;

padding: 10px 35px;

}



.dashboard-info {

display: inline-block;

float: left;

width: 100%;

background: #FCFCFC;

margin: 25px 0 0 0;

padding: 15px;

border-radius: 4px;

text-align:center;

}





.congratulations-button-area {

display: inline-block;

float: left;

width: 100%;

border-bottom: 1px solid #ECECEC;

font-weight: 600;

font-size: 22px;

text-transform: uppercase;

line-height: 45px;

background: #F9F9F9;

border-radius: 5px 5px 0 0;

text-align: right;

padding: 3px 10px;

}



.page-content-wrapper.congratulations-page-wrapper {

border-radius: 0 0 5px 5px;

padding-top: 0;

}





/*New Dashboard Styling*/



.dashboard-panel-wrapper {

display: inline-block;

width: 100%;

float: left;

background: #fff;

border-radius: 5px;

margin-bottom: 15px;

}



.dashboard-panel-title {

display: inline-block;

width: 100%;

text-align: center;

font-size: 21px;

line-height: 25px;

padding: 8px;

border-bottom: 1px solid #F5F5F5;

}



.dashboard-panel-inner {

display: inline-block;

float: left;

width: 100%;

padding: 10px;

}



.stat-wrapper {

display: inline-block;

width: 100%;

padding: 10px;

background: rgba(221, 233, 244, 1);

margin: 10px 0;

border-radius: 4px;

font-size: 17px;

text-align: center;

}



.stat-wrapper > span {

display: block;

font-size: 23px;

color: #000;

line-height: 40px;

}



.btn-wrapper {

display: inline-block;

width: 100%;

text-align: center;

padding: 10px;

}



.col-sm-9.dashboard-headline {

font-size: 21px;

line-height: 35px;

}



.col-sm-3.talent-btn-wrapper {

text-align: right;

padding-right: 0;

}











/*fix for multiselect on ipad*/
ul.chosen-choices > .search-field {
width: 100%;
padding:0!important;
}

.chosen-container.chosen-with-drop .chosen-drop {
left: 0;
top: 48px;
border-top: 1px solid #ccc;
border-radius: 3px;
}

.chosen-choices input.default {
width: 100%!important;
margin: 0!important;
padding: 6px 12px!important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
height: 35px;
}


/*Linkedin button*/

div.userpro-social-big a.userpro-social-linkedin {
background: #1676be!important;
color: #fff!important;
border-bottom: none!important;
border: 1px solid #EAEAEA!important;
margin-bottom: 15px!important;
cursor: pointer;
}

div.userpro-social-big a.userpro-social-linkedin:hover {
border: 1px solid #ccc;
background: #1676be!important;
}

/*Styling SelectPicker for step 6*/

button.btn.dropdown-toggle.selectpicker.btn-default {
background-color: #fff;
color: #333;
border:1px solid #ccc;
}

.selectpicker .selected > a:after {
content: ""!important;
}


.number-of-results {
text-align: center;
margin: 10px 0;
background: #F2F2F2;
padding: 10px;
border-radius: 3px;
min-height:80px;
}

.number-of-results-title {
font-weight: 600;
font-size: 16px;
margin-bottom: 10px;
}

.number-of-results-value {
font-size: 20px;
font-weight: 600;
}

.number-of-results > img {
display: none;
}


.navigation {
display: inline-block;
float: left;
width: 100%;
}
.navigation > ul {
display: inline-block;
float: left;
width: 100%;
padding: 0;
margin: 10px 0;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: #fff;
  text-decoration:none;
}

.navigation li {
  display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: #6FB7E9;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px;
  padding: 5px 10px;
}

.navigation li a:hover,
.navigation li.active a {
  background-color: #1676BE;
}


a.white-btn {
background: #FFFFFF;
color: #A8A8A8!important;
border-bottom: none;
border: 1px solid #EAEAEA;
/* margin-top: -10px; */
margin-bottom: -12px;
cursor: pointer;
padding: 12px 30px;
display: inline-block;
text-decoration: none;
border-radius: 4px;
}
a.white-btn:hover {
border: 1px solid #EAEAEA;
border: 1px solid #ccc;
background: rgba(253, 253, 253, 0.61);
}

.profile-add-fields-wrapper.bg-success {
display: inline-block;
float: left;
width: 100%;
padding: 15px;
margin: 15px 0;
border-radius: 5px;
text-align: center;
}

.profile-add-fields-wrapper.bg-success > .btn {
min-width: 200px;
}

.bg-success {
background-color: #D8ECF0!important;
}


.sweet-alert h2 {
font-size: 29px!important;
line-height: 36px!important;

}

.specialist-skill.profile-item-value {
width: 100%!important;
max-width: 100%;
}

/*Styling new search results*/

.sr-title-wrapper {
display: inline-block;
float: left;
font-weight: 600;
font-size: 19px;
}

.sr-button-wrapper {
display: inline-block;
float: right;
width: auto;
}


.talent-line {
display: inline-block;
float: left;
width: 100%;
border-bottom: 1px solid #ccc;
}

.talent-lines > .talent-line:first-child {
  margin-top: 15px;
border-top: 1px solid #ccc;
}

.talent-lines > .talent-line:last-child {
margin-bottom: 15px;
}

.talent-info {
display: inline-block;
float: left;
width: 80%;
min-width: 600px;
padding: 10px;
}

.talent-buttons {
display: inline-block;
float: left;
width: 20%;
min-width: 175px;
text-align: right;
padding-top: 10px;
}

.btn-container {
display: inline-block;
padding: 5px;
}

.talent-buttons > .btn-container:first-child {
  padding-bottom:0;
}

.btn-container > .btn {
font-size: 13px;
min-width: 160px;
}

.talent-number {
font-weight: 600;
}



/*Styling create job page*/


.talent-info span {
  font-weight: 600;
}

.no-padding {
  padding:0;
}

#create-job-form {
  padding-top: 20px;
}

#create-job-form .s-cols-wrapper {
  padding:20px;
}

.create-job-form-item {
  display:inline-block;
  float:left;
  width:100%;
}

.general-page-header {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #F9F9F9;
  font-size: 20px;
  font-weight: 600;
  color: #5E5E5E;
}

.general-page-content {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 15px;
}
.job-labels {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 20px 0;
  background: #F2F2F2;
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}

.job-labels .col-sm-6 {
   padding: 0;
}
 
 .job-labels .job-labels-line {

padding: 0 15px;
 }

 .job-requriements-label {
  display: inline-block;
  width: 100%;
  float: left;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
}

#create-job-form .search-bottom {
  padding: 10px 25px;
}

.job-labels textarea.form-control {
  height: 120px;
  resize: vertical;
}

.search-bottom > .preloader {
     display: none;
      margin-right: 20px;
}





/*single job page*/

.description-label,
.title-label,
.requirements-label {
  font-weight: 600;
  padding: 10px 0;
}

.description-wrapper,
.job-title-wrapper,
.requirements-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  padding-bottom: 10px;
}

.job-buttons-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  text-align:center;
}

.job-buttons-wrapper >  button {
min-width:130px;
}

.info-fields-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  border-bottom: 1px solid #F9F9F9;
 
}

.sorting-buttons-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  border-bottom: 1px solid #F9F9F9;
   margin-bottom: 10px;
}

.sorting-buttons-wrapper > a,
.sorting-buttons-wrapper > a:visited,
.sorting-buttons-wrapper > a:active {
  display: inline-block;
  float: left;
  width: 20%;
  text-align: center;
  background: #1676be;
  color: #fff;
  text-decoration: none;
  padding: 6px;
}

.sorting-buttons-wrapper > a:hover {
  background: #115a90;
}


.manage-bottom {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  padding: 10px;
  text-align: right;
  background: #f9f9f9;
  border-radius: 0 0 5px 5px;
}

.profiles-wrapper > .talent-line {
  padding:5px;
}

.btn-container.checkbox-container {
  padding-top: 5px;
}

.job-talent-buttons > .btn {
  border:none;
  margin-bottom:5px;
}

.pagi-line {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 10px 15px;
}

.manage-bottom > .delete-job {
  float: left;
}

span.req-title {
  display: inline-block;
  float: left;
  margin-right: 10px;
  font-weight: 600;
}
.no-matches {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  min-height: 75px;
}

.manage-bottom > .delete-job .fa-trash-o:before {
  content: "\f014";
  font-size: 17px;
}

button.is-rejected,
button.is-rejected:active,
button.is-rejected:focus,
button.is-rejected:visited {
  background: #9D9D9D;
  outline:none;
}

button.is-rejected:hover {
  background: #7C7C7C;
}

button {
    outline:none!important;
}

.registered-interest {
  display: inline-block;
  width: auto;
  background: #5096D7;
  padding: 10px;
  border-radius: 3px;
  color: #FFFFFF;
}

select#subject {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.no-bottom-margin {
  margin-bottom:0;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #1676be;
  border-radius: 10px;
  margin: 0 5px;
}

.job-line {
  padding: 5px;
  border-radius: 3px;
}

.job-line.job-unread {
    background: #DDE9F4;
}

.job-line.job-read:before {
  content: "\f0f2";
  font-family: fontawesome;
  margin-right: 10px;
    margin-left: 8px;
}

.job-line.job-unread:before {
  content: "\f0f2";
  font-family: fontawesome;
  margin-right: 10px;
    margin-left: 8px;
}

.job-line > span {
  float: right;
  background: #d9534f;
}

.add-to-talent-pool.btn.btn-default.in-my-pool,
.add-to-talent-pool.btn.btn-default.in-my-pool:hover {
  background: #AEAEAE;
  border:none;
}

.pool-wrapper,
.items-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 15px;
}


.pool-line, .item-line{
  display: inline-block;
  float: left;
  width: 100%;
  border: 1px solid #EFEFEF;
  border-bottom: none;
  box-sizing: border-box!important;
}

.pool-wrapper > .pool-line:last-child,
.items-wrapper > .item-line:last-child {
   border-bottom: 1px solid #EFEFEF; 
     border-radius: 0 0 3px 3px;
}

.pool-line.head-line,
.item-line.head-line {
  border-radius: 3px 3px 0 0;
}

.pool-line > div,
.item-line > div {
  display: inline-block;
  float: left;
  min-height: 1px;
  border-right: 1px solid #EFEFEF;
  padding: 3px;
  
}

.pool-line > div:last-child,
.item-line > div:last-child {
      border-right: none;
}

.pool-line.head-line > div,
.item-line.head-line > div  {
  display: inline-block;
  float: left;
  font-weight:600;

}

.pool-title {
  width: 15%;
  /*min-width: 140px;*/
  padding:3px;
  position:relative;
   text-align: center;
}

.p-line > .pool-title {
padding-left:40px;
 text-align: left;
}


.pool-tag {
    width: 28%;
  /*min-width: 160px;*/
  text-align:center;
}

.pool-contacted {
  width: 9%;
  /*min-width: 90px;*/
  text-align:center;
}

.edit-pool {
  display:inline-block;
  float:left;
}

.edit-pool:before {
  content: "\F044";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  text-align: center;
  padding: 3px;
  color: #888;
  font-family: FontAwesome;
  cursor:pointer;
}

.edit-pool:hover:before {
color:#000;
}

button#delete-pool {
  float: left;
}

.pool-line.head-line  span,
.item-line.head-line  span.sort-item {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  text-align: left;
  padding:3px 3px 3px 10px;
  cursor:pointer;
}
.pool-line.head-line span:after,
.item-line.head-line span.sort-item:after {
  content: "\f0dc";
  font-family: FontAwesome;
  float: right;
  padding-right: 5px;
}

.pool-line.head-line span.asc:after,
.item-line.head-line span.sort-item.asc:after {
  content: "\f0de";
  font-family: FontAwesome;
  float: right;
  padding-right: 5px;
}

.pool-line.head-line span.desc:after,
.item-line.head-line span.desc:after {
  content: "\f0dd";
  font-family: FontAwesome;
  float: right;
  padding-right: 5px;
}

.pool-line.head-line .search-input,
.item-line.head-line .search-input {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  border:none;
  font-weight:normal;
  outline:none;
  padding:0 10px;
}

span.num.pool-num {
  background: #59A7E2;
  border-radius: 2px;
  padding: 1px 5px;
  color: #fff;
  margin-top: 8px;
  display: inline-block;
}

.ajax-spinner {
  display:none;
  float:right;
    margin-top: 7px;
}

.action-button {
  display: inline-block;
  float: left;
  width: 100%;
  border-top: 1px solid #F5F7FA;
  padding:13px;
}



.pagination {
display: inline-block;
float: left;
list-style: none;
padding: 0;
margin: 0;
}

.pagination > li {
display: inline-block;
float: left;
padding: 4px 10px;
background: #6FB7E9;
border-radius: 3px;
color: #fff;
cursor: pointer;
margin-right: 8px;
}

.pagination > li.current-page {
  background: #1676BE;
}


.count-results, .count-results > div {
  display: inline-block;
  float: left;
  font-weight: 600;
  line-height: 27px;

}

.count-results > div {
margin-right:10px;
margin-left:10px;
}


/*New Dashboard*/

.items-wrapper.rec-management {
  font-size: 13px;
}

.inner-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  background: #fff;
  border-radius: 4px;
}

.inner-title {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 12px 15px;
  border-bottom: 1px solid #EFEFEF;
  font-weight: 600;
  font-size: 15px;
}

.inner-content-wrap {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 12px 6px 0 6px;
  font-size: 13px;
}

.line-wrapper {
  display:inline-block;
  float:left;
  width:100%;
}

.dashboard-pane {
  padding-right: 6px;
  padding-left: 6px;
    padding-bottom: 12px;
}

.pane-inner {
  display: inline-block;
  float: left;
  width: 100%;
  background: #F2F2F2;
    border-radius: 3px;
}

.pane-header {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px dotted #E4E4E4;
}

.pane-header > i {
  margin-right: 7px;
  font-weight: normal;
  font-size: 17px;
}

.pane-content {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 6px 10px;
}


.list-line {
  border-bottom: 1px dashed #E4E4E4;
  margin: 2px 0 4px 0;
}

.list-line > .num {
  float: right;
  background: #59A7E2;
  border-radius: 2px;
  padding: 1px 5px;
  color: #fff;
}

.list-line > .num-red {
  background: #d9534f;
}
  
.pane-footer {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 7px 10px;
  border-top: 1px dotted #E4E4E4;
  min-height:35px;
}

.pane-footer > .btn {
  float: right;
  border: 0;
}

.text-align-center {
  text-align:center;
}

a.btn.btn-default.btn-xs.create-job-btn {
  margin-right: 8px;
}
span.notice-text {
  display: inline-block;
  width: 100%;
  background: #E4E4E4;
  margin-bottom: 6px;
  padding: 3px 8px;
  border-radius: 3px;
  font-size:12px;
}

.count-results.my-matches {
  float: right;
  padding-top: 6px;
}


/*Matched jobs page*/

.matched-jobs .item-title {
  width: 40%;
}

.matched-jobs .item-tag.employer {
  width: 35%;
}

.matched-jobs .item-tag.total-matches {
  width: 13%;
  text-align:center;
}

.matched-jobs .item-line.head-line span {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}

.matched-jobs .item-title > span > .badge {
  float: right;
}

.matched-jobs  .badge-red {
   background: #d9534f; 
}


/*Jobs Archive Page*/


.rec-management .item-title {
  width: 30%;
}

.rec-management .item-employer {
  width: 20%;
}

.rec-management .item-tag {
  width: 10%;
  text-align:center;
}

.rec-management .item-line.head-line span {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 3px 3px 3px 3px;
  cursor: pointer;
}

.rec-management  .item-tag.center > span {
  text-align: center!important;
}


/*Inbox styling*/
.inner-content-wrap.inbox-wrapper {
  padding: 15px 5px;
}

.col-sm-3.inbox-menu {
  border-right: 1px dashed #ccc;
}

.inbox-menu > a {
  display: inline-block;
  width: 100%;
  padding: 2px 11px;
  color: #626262;
  font-weight: 600;
  text-decoration: none;
  border-radius: 3px;
  margin-bottom: 3px;
}


.inbox-menu > a:hover,
.inbox-menu > a.current {
background: #F2F2F2;
}

.inbox-menu i {
  margin-right: 8px;
}

.message-line {
  display: inline-block;
  width: 100%;
  float: left;
  background: #FAFAFA;
  margin-bottom: 2px;
  padding: 4px 10px;
  border-radius: 4px;
  position:relative;
    border: 1px solid #F0F0F0;
}

.message-line.unread {
background: #F2F2F2;
}

.message-subject {
  display: inline-block;
  float: left;
  font-weight: 600;
  margin-right:100px;
}

.message-date {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 10px;
  font-weight: 600;
}

.message-body {
  display: inline-block;
  float: left;
  width: 100%;
}

span.mark-star:before {
  display: inline-block;
  width: 20px;
  float: left;
  content: ".";
  font-family: FontAwesome;
  cursor: pointer;
}


span.mark-star.is-starred:before {
  content: "\f005";
}
span.mark-star.not-starred:before {
  content: "\f006";
}

.message-subject > a {
  color: #626262;
}

.conversation-wrapper {
  padding:15px;
}

.conversation-messages-wrapper {
  display: inline-block;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 3px;
}

.load-more-messages {
  display: inline-block;
  width: 100%;
  float: left;
  border-radius: 5px;
  color: #7B7B7B;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border: 1px dashed #ccc;
}

.message-item {
  display: inline-block;
  float: left;
  width: 95%;
  padding: 10px;
  background: #ccc;
  margin: 5px 0;
  border-radius: 5px;
  position:relative;
}

.message-item.message-in {
  float: left;
  background: #B6D8F7;
  color: #676767;
}

.message-item.message-out {
  float: right;
  background: rgba(89, 167, 238, 0.22);
  color: #676767;
}

.message-in > .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 10px 7px 0;
  border-color: transparent #B6D8F7 transparent transparent;
  position: absolute;
  left: -10px;
}

.message-out > .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #D9EBFA;
  position: absolute;
  right: -10px;
}

.message-composer {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 5px 0;
}

textarea#mew-message {
  width: 100%;
  border-radius: 4px;
  resize: vertical;
  min-height:55px;
}

.message-composer > span {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  margin-bottom: 5px;
}

button.btn.btn-default.reply-btn {
  float: right;
  margin-top: 5px;
}

img.sending-message {
  display: none;
  margin-top: 20px;
}

.loading-messages {
  display: none;
  float: left;
  width: 100%;
  padding: 13px 0;
  text-align: center;
}



.settings-wrapper {
  display: inline-block;
  float: left;
  width: 100%;
}

.settings-fields {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 15px;
}

.footer-wrap {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 10px 15px;
  text-align: right;
  border-top: 1px solid #EFEFEF;
}

.settings-fields .form-group .col-sm-6 {
  display: inline-block;
  float: left;
  width: 100%;
  text-align: left;
  padding-bottom: 7px;
}

.settings-fields .form-group .col-sm-6 .form-control {
  max-width: 300px!important;
}

img.updating-settings {
  display: none;
  float: left;
  margin-top: 10px;
}


.sorting-line {
  display: block;
  text-align: right;
  padding-bottom: 12px;
}

.jobs-aggregator .item-line.head-line .item-tag span {
  text-align:center;
}

.jobs-aggregator .item-title {
   width:60%;
    padding-left: 6px;
}

.jobs-aggregator .item-employer {
  width: auto;
  max-width:38%;
}
/*
.jobs-aggregator .item-source {
  width:20%;
}
.jobs-aggregator .item-tag {
  width:15%;
  text-align:center;
}*/

.general-page-header .page-title {
  float: left;
}

.general-page-header .btn-back-to-dashboard {
  float: right;
}

.btn {
  box-shadow: none;
  border: none;
}

.grey-extra-section {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 15px;
  background: #EFEFEF;
  border-bottom: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
}

.grey-section-head {
  display: inline-block;
  float: left;
  width: 100%;
  text-decoration: underline;
  margin-bottom: 7px;
}

a.btn.btn-default.btn-xs.go-to-inbox {
  position: relative;
  float: right;
}
span.badge.new-msg-badge {
  position: absolute;
  top: -9px;
  right: -15px;
  padding: 4px 7px;
  background: #E73E4A;
}


.no-padding-children > .col-sm-4,
.no-padding-children > .col-sm-8 {
  padding-left:0;
  padding-right:0;
}

.col-sm-4.dashboard-pane.red-pane {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  background: #DF646D;
  color: #fff;
  text-align:center;
}

.red-pane-title {
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
    padding: 6px 10px;
    padding-bottom:0;
      min-height: 50px;
}

.red-pane-content {
  display: inline-block;
  float: left;
  width: 100%;
    padding: 6px 10px;

}
.red-pane-footer {
    display: inline-block;
  float: left;
  width: 100%;
  min-height:13px;
}

.no-padding {
  padding:0;
}
.matched-jobs > .item-line:last-of-type {
  border-bottom: 1px solid #EFEFEF!important;
}